body {
    background-color: black;
}

h1 {
    margin-bottom: 30px;
}

.form-group label {
    font-weight: bold;
}

.btn {
    width: 100%;
    padding: 10px;
}

.container {
    max-width: 600px;
}
